.input-wrapper {
  width: 100%;
  max-width: 1200px; /* Tăng độ dài tối đa lên 1000px */
  height: 3rem; /* Giữ nguyên chiều cao */
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
  cursor: pointer; /* Biểu tượng vẫn hoạt động như nút */
}
